.loading_div {
  display: flex;
  visibility: hidden;
  width: 180px;
  text-align: center;
  margin: 10px auto;
  font-family: sans-serif;
  background-color: #ffffff;
}

.loader {
  border: 2px solid #ffffff;
  border-radius: 50%;
  border-top: 2px solid #000000;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  margin-right: 10px;
  background-color: #ffffff;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.show_loader {
  visibility: visible;
}

.loader_text {
  font-size: 12px;
  font-weight: 500;
  background-color: #ffffff;
}
